<div class="margins" ng-init="myIndexView.loadIndex()">
  <div class="row banner margins" >
    <div class="col col-sm-12 col-md-12 margins">
      <span id="changeText"></span>
     <img id="changeSrc" src="" alt=" " style="width:10%; height:120px !important; margin-top:3%; margin-left:2%;">

   </div>
    <div class="knowButtonBlock">

    </div>
    <div class="text-center info">

    </div>

    <img src="images/developer.png" alt="developer">
  </div>
  <div class="bgimg-1">
    <div class="caption">
      <span class="border">MY EXPERTISE</span>
    </div>
  </div>

  <div style="color: #777;background-color:white; height:700px !important;text-align:center;text-align: justify;" >

       <div style="width:100% !important;">

           <div class="card" style="height:280px; width:23%; margin:1%; float:left; padding:2%;">
              <img class="card-img-top" src="images/angular.png" alt="Card image cap" style="height:100%; width:100%" >
               <div class="card-title">
                <p style="text-align:center !important;" id="changeTextAngular">Angular.js </p>
              </div>
            </div>

            <div class="card" style="height:280px; width:23%; margin:1%; float:left;padding:2%;">
              <img class="card-img-top" src="images/node.png" alt="Card image cap" style="height:100%; width:100%" >
              <div class="card-title" >
                <p style="text-align:center !important;" id="changeTextNode">Node.js </p>
              </div>
            </div>

            <div class="card" style="height:280px; width:23%; margin:1%; float:left;padding:2%;">
              <img class="card-img-top" src="images/mongo.png" alt="Card image cap" style="height:100%; width:100%" >
               <div class="card-title">
                <p style="text-align:center !important;" id="changeTextMongo"> Mongo DB </p>
              </div>
            </div>

            <div class="card" style="height:280px; width:23%; margin:1%; float:left; padding:2%;">
              <img class="card-img-top" src="images/express.png" alt="Card image cap" style="height:100%; width:100%" >
               <div class="card-title" >
                <p style="text-align:center !important; " id="changeTextExpress"> Express.js </p>
              </div>
            </div>

            <div class="card" style="height:280px; width:23%; margin:1%; float:left; padding:2%;">
               <img class="card-img-top" src="images/jquery.gif" alt="Card image cap" style="height:100%; width:100%" >
                <div class="card-title" >
                 <p style="text-align:center !important; " id="changeTextJquery"> jQuery </p>
               </div>
             </div>

             <div class="card" style="height:280px; width:23%; margin:1%; float:left;padding:2%;">
               <img class="card-img-top" src="images/android.png" alt="Card image cap" style="height:100%; width:100%" >
                <div class="card-title">
                 <p style="text-align:center !important;" id="changeTextAndroid"> Android </p>
               </div>
             </div>

             <div class="card" style="height:280px; width:23%; margin:1%; float:left;padding:2%;">
               <img class="card-img-top" src="images/html.png" alt="Card image cap" style="height:100%; width:100%" >
                <div class="card-title">
                 <p style="text-align:center !important; " id="changeTextHtml"> HTML 5 </p>
               </div>
             </div>

             <div class="card" style="height:280px; width:23%; margin:1%; float:left; padding:2%;">
               <img class="card-img-top" src="images/css.png" alt="Card image cap" style="height:100%; width:100%" >
                <div class="card-title">
                 <p style="text-align:center !important;" id="changeTextCss"> CSS 3 </p>
               </div>
             </div>


       </div>

  </div>



  <div class="container-flid">
  <div class="bgimg-2">
    <div class="caption">
      <span class="border" >CASE STUDIES</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;height: 900px;text-align:center;padding:50px 80px;text-align: justify;">
      <div class="wrapper">

<div class="container" id="c0">
  <div class="image" id="i0">
    <img src="images/attendance.png" style="width:92% !important; height:100% !important; margin:4%;">>
  </div>

  <div class="story" id="s0">
    <div class="info">
    <h3>Pseudo Attendance</h3>
    <p class="paragraph"> An android app designed to take attendance of a bunch of students or people on the go. HTTP calls for login through a cloud database. SqlLite to store the current data into the user's system. <br> <br> Code Editor: Android Studios</p>
    </div>
  </div>
</div>
<div class="container" id="c1">

  <div class="image" id="i1">
    <img src="images/achievements2.png" style="width:92% !important; height:100% !important; margin:4%;">
  </div>
  <div class="story" id="s1">
    <div class="info">
      <h3>World Of Ice & Fire</h3>
    <p class="paragraph"> An angular app designed to show data from the api of "iceandfire" and display it using custom directives. It is an combined example of all the functionalities in angular js like directives, services, routes, views, templates etc.  <br> Code Editor: Atom Text Editor</p>
    </div>
  </div>
</div>
<div class="container" id="c2">
  <div class="image" id="i2">
    <img src="images/football.png" style="width:100% !important; height:100% !important;">
  </div>
  <div class="story" id="s2">
    <div class="info">
    <h3>Football Scorecard</h3>
    <p class="paragraph"> An angular app designed to show data using http requests and display it using custom directives. It is an combined example of all the functionalities in angular js like directives, services, routes, views, templates etc.  <br> Code Editor: Atom Text Editor</p>
    </div>
  </div>
</div>


</div>


<div class="wrapper" style="margin-top:25%">

<div class="container" id="c2">

  <div class="image" id="i1">
    <img src="images/pets.png" style="width:92% !important; height:100% !important; margin:4%;">
  </div>
  <div class="story" id="s1">
    <div class="info">
      <h3>Pets Shelter</h3>
    <p class="paragraph"> An android app which makes sqlLite database transactions on user's input and stores the pet details into the user's storage memory. The data hence is secured in user's phone.  <br> <br> Code Editor: Android Studios</p>
    </div>
  </div>
</div>
<div class="container" id="c1">
  <div class="image" id="i0">
    <img src="images/earthquake.png" style="width:92% !important; height:100% !important; margin:4%;">>
  </div>

  <div class="story" id="s0">
    <div class="info">
    <h3>Quake Report</h3>
    <p class="paragraph"> An android app designed make http calls and retrive data from the USGS API and show the details in a custom list view template. On clicking the block, the app redirects to the clicked data url on the browser.  <br>  Code Editor: Android Studios</p>
    </div>
  </div>
</div>
<div class="container" id="c0">
  <div class="image" id="i2">
    <img src="images/facebook.png" style="width:92% !important; height:100% !important; margin:4%;">
  </div>
  <div class="story" id="s2">
    <div class="info">
    <h3>Graph API Explorer</h3>
    <p class="paragraph"> A jQuery website designed to make ajax calls to the facebook developer's api and retrive data by passing access token generated by the window to the url. The data is then displayed in a structural format.  <br> Code Editor: Atom Text Editor</p>
    </div>
  </div>
</div>


</div>
    </div>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border" style="background-color:transparent;font-size:35px;color: black;">Want to work together ?</span>
    </div>
  </div>

  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
      <p style="text-align:center;">I'm currently accepting new projects and would love to hear about yours. <br> Please take a few minutes to tell me about it.</p>
      <p style="text-align:center;"><a href="" class="btn myBtn" name="button">GET STARTED</a></p>
    </div>
  </div>

  <div class="footer" >
    <p style="text-align:center;"> <img src="images/pseudo.png" alt="Pseudo" style="height:60px; width:60px;"> </p>
    <p style="text-align:center;">Handmade by me &copy 2017</p>
    <p style="text-align:center;">
      <a href="https://www.github.com/pseudo2638">
        <span>
          <i class="fa fa-github" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.linkedin.com/in/aditya-sudhakar-45a315132/">
        <span>
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.facebook.com/ethical.hacker.2638">
        <span>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
      </a>
      <a href="https://www.instagram.com/aditya_sudhakar">
        <span>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
      </a>
    </p>
  </div>

</div>
